body{
    height: 100vh;
    width: 100%;
    background-color: #111;
}
.main{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #33333353;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
}
#full{
    position: absolute;
    top: 0;
    right: 0;
    height: 80%;
    width: 40%;
    background-color: rgba(249, 248, 248, 0.228);
    backdrop-filter: blur(40px);
}
.option{
    height: 100%    ;

}
